<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hire_my_lawyer.com</title>
    <link rel="stylesheet" href="/static/css/style.css"><body>
    <header>
        <nav id="navbar">
            <div id="logo">
                <img src="/static/images/logo.jpg" alt="Lawyer Image">
            </div>
            <ul>
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href=/clientRegistration>Client
                        Registration</a></li>
                <li class="item"><a href=/lawyerRegistration>Lawyer Registration</a></li>
                <li class="item"><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <section id="home">
        <h2 class="prime">Welcome to our Site</h2>
        <p id="primepara">
            Lorem, ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
            autem vellorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe hic consequuntur numquam
            tempore autem natus maxime, tempora quo nam architecto porro enim recusandae sed, labore, animi optio
            necessitatibus. Voluptatibus, quod.it fuga atque consectetur quam vel in illo, eligendi, possimus totam
            quisquam minima. Aut laboriosam, dolorem quasi eaque nesciunt ex.adipisicing elit. Ducimus fugiat nemo
            neque doloribus hic quia explicabo sed. Ullam possimus officia tenetur id quod0
        </p>
        <button class="submit"><a href=/searchLawyer id="hire">Hire a Lawyer Now</a></button>

        <section id="data">
            <div class="Dataimage">
                <img src="/static/images/lawyer_Regist.png" alt="Lawyer Registration">
            </div>
            <div class="Dataimage">
                <img src="/static//images/client_regis (2).png" alt="Client Registration">
            </div>
            <div class="Dataimage">
                <img src="/static/images/Casedata.png" alt="Case Data">
            </div>
        </section>

        <section class="Registration">
            <div class="Registrationphoto">
                <img src="/static/images/lawyer_img.avif" alt="Lawyer Image">
            </div>
            <div class="RegistrationInfo">
                <div class="Registrationheading">
                    <h3>Lawyer Registration</h3>
                </div>
                <div class="Registrationpara">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quis natus perspiciatis eos
                        mollitia
                        exercitationem incidunt quae, soluta corrupti quam, doloremque aliquid, autem eligendi odit
                        minus dolor itaque Officia, dolore. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repellendus nulla iste amet odit tempore. Qui ducimus aperiam vitae assumenda, corporis,
                        repellat consequuntur dolorem mollitia est labore expedita debitis dolore perferendis?
                    </p>
                </div>
                <button class="btn">
                    <a href="/lawyerRegistration">Register Yourself</a>
                </button>
            </div>
            </div>
        </section>

        <section class="Registration">
            <div class="Registrationphoto">
                <img src="/static/images/client.jpg" alt="Client Image">
            </div>
            <div class="RegistrationInfo">
                <div class="Registrationheading">
                    <h3>Client Registration</h3>
                </div>
                <div class="Registrationpara">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quis natus perspiciatis eos
                        mollitia
                        exercitationem incidunt quae, soluta corrupti quam, doloremque aliquid, autem eligendi odit
                        minus dolor itaque Officia, dolore. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repellendus nulla iste amet odit tempore. Qui ducimus aperiam vitae assumenda, corporis,
                        repellat consequuntur dolorem mollitia est labore expedita debitis dolore perferendis?
                    </p>
                </div>
                <div class="RegistrationButton">
                    <button class="btn"><a href="/clientRegistration">Register
                            Yourself</a></button>
                </div>
            </div>
        </section>
        <footer>
            <p>&copy; 2024 Lawyer Management System. All rights reserved.</p>
        </footer>

</body>

</html>